@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  * {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-transparent focus-visible:ring-offset-2 focus-visible:ring-color-secondary;
    transition: all 50ms;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    @apply text-xl leading-none select-none;
  }

  .material-icons-round {
    font-family: 'Material Icons Round';
  }

  .hover-effect {
    @apply cursor-pointer select-none hover:bg-gray-700 hover:bg-opacity-10;
    @apply transform hover:scale-110;
  }

  @keyframes highlight {
    0% {
      @apply opacity-initial;
    }
    25% {
      @apply opacity-20;
    }
    100% {
      @apply opacity-initial;
    }
  }

  *::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }
  *::-webkit-scrollbar-thumb:hover {
    @apply bg-color-primary;
  }
  *::-webkit-scrollbar-track {
    @apply bg-blueGray-200;
    border-radius: 16px;
  }
}

:root {
  --color-primary: 0, 113, 133;
  --color-secondary: 170, 23, 22;
  --bg-primary: 242, 242, 242;
  --bg-secondary: 235, 235, 235;
  --text-primary: 61, 61, 61;
  --text-secondary: 82, 82, 82;
  --text-tertiary: 142, 142, 142;
  --text-disabled: 174, 174, 174;
}
.dark {
  --color-primary: 136, 213, 232;
  --color-secondary: 238, 133, 133;
  --bg-primary: 52, 52, 52;
  --bg-secondary: 35, 35, 35;
  --text-primary: 233, 233, 233;
  --text-secondary: 188, 188, 188;
  --text-tertiary: 144, 144, 144;
  --text-disabled: 102, 102, 102;
}