@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  * {
    /* @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-transparent focus-visible:ring-offset-2 focus-visible:ring-color-secondary; */
    @apply outline-none focus-visible:outline-dashed;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    @apply text-xl leading-none select-none;
  }

  .material-icons-round {
    font-family: 'Material Icons Round';
  }

  .hover-effect {
    @apply cursor-pointer select-none hover:bg-gray-700 hover:bg-opacity-10;
    @apply transform hover:scale-110;
  }

  @keyframes highlight {
    0% {
      @apply opacity-initial;
    }
    25% {
      @apply opacity-20;
    }
    100% {
      @apply opacity-initial;
    }
  }

  *::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }
  *::-webkit-scrollbar-thumb:hover {
    @apply bg-color-primary;
  }
  *::-webkit-scrollbar-track {
    @apply bg-blueGray-200;
    border-radius: 16px;
  }
}

:root,
.light,
body[data-theme='light'] {
  --color-primary: 0, 113, 133;
  --color-secondary: 170, 23, 22;
  --bg-primary: 242, 242, 242;
  --bg-secondary: 235, 235, 235;
  --bg-blueGray: useColor(theme('colors.blueGray.200'));
  --text-primary: 61, 61, 61;
  --text-secondary: 82, 82, 82;
  --text-tertiary: 142, 142, 142;
  --text-disabled: 174, 174, 174;
  --text-inverted: 233, 233, 233;
  --outline-color: theme('colors.black');
}
.dark,
body[data-theme='dark'] {
  --color-primary: 136, 213, 232;
  --color-secondary: 238, 133, 133;
  --bg-primary: 34, 34, 34;
  --bg-secondary: 27, 27, 27;
  --bg-blueGray: useColor(theme('colors.trueGray.900'));
  --text-primary: 213, 213, 213;
  --text-secondary: 172, 172, 172;
  --text-tertiary: 144, 144, 144;
  --text-disabled: 102, 102, 102;
  --text-inverted: 20, 20, 20;
  --outline-color: theme('colors.white');
}

body {
  background: theme('colors.blue.500');
}
